body {
    margin: 0;
}

#top_bar {
    padding: 20px;
    position: fixed;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    video {
        height: 100%;
        position: fixed;
        top: 0;
        z-index: -2;
        right: -90%;
    }

    #burger {
        font-size: 30px;
    }
}

@media only screen and (min-width: 601px) {
    video {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: -2;
    }

    #burger {
        font-size: 50px;
    }
}



#overlay {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.3;
    z-index: -1;
}

#burger {
    position: fixed;
    right: 20px;
    color: black;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#my_links {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 112px;
    display: none;
    z-index: 1;
}

#my_links a {
    display: block;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
    color: black;
    background: darkgrey;
    border-bottom: 1px solid white;
}

#my_links a:hover {
    background: grey;
    color: white;
}

#factory,
#map,
#management {
    width: 100%;
}

#about_us,
#contact_us {
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

#move_up {
    position: relative;
    bottom: 160px;
}